# =========================
# Django
# =========================
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# =========================
# Database (PostgreSQL)
# =========================
POSTGRES_DB=mtgsource_db
POSTGRES_USER=mtgsource_user
POSTGRES_PASSWORD=mtgsource_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# =========================
# Django Database URL (opcional)
# =========================
# Si usas dj-database-url
# DATABASE_URL=postgres://mtgsource_user:mtgsource_password@db:5432/mtgsource_db
